body {
  background-color: #939393;
}
.app-shell {
  place-items: center;
  padding: 2em;
  color: #f8fafc;
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  
  @media (max-width: 1440px) {
    flex-direction: column;
    padding: 1em;
  }

  h1 {
    margin: 0;
    font-size: 2em;
    font-weight: 600;
  }
}
