body {
  background-color: #939393;
}
.app-shell {
  place-items: center;
  padding: 2em;
  color: #f8fafc;
  display: flex;
  align-items: stretch;
  justify-content: center;
  
  @media (max-width: 999px) {
    flex-wrap: wrap;
    flex-direction: column;
    align-content: space-around;
    padding: 1em;
  }

  h1 {
    margin: 0;
    font-size: 2em;
    font-weight: 600;
  }
}
